
@{
    ViewData["Title"] = "About";
}

<!-- ======= Breadcrumbs ======= -->
<section id="breadcrumbs" class="breadcrumbs">
    <div class="container">
        <ol>
            <li><a href="~/Home">Trang chủ</a></li>
            <li>Giới thiệu</li>
        </ol>
        <h2>Giới thiệu</h2>

    </div>
</section>
<!-- End Breadcrumbs -->
<!-- ======= About Section ======= -->
<section id="about" class="about">
    <div class="container">
        <div class="row">
            <div class="col-lg-4">
                <img src="~/img/landslide.png" class="img-fluid" alt="" />
            </div>
            <div class="col-lg-8 pt-8 pt-lg-0 content">
                <h3>Giới thiệu về phần mềm</h3>
                <p class="fst-italic">

                    Hệ thống phát hiện và cảnh báo sạt lở đất đá cho người dân ứng dụng trí tuệ nhân tạo

                </p>
                <p>
                    Theo các báo cáo, sạt lở đất đá là một trong những thiên tai nguy hiểm nhất ở Việt Nam, gây ra nhiều thiệt hại về người và tài sản. Nguyên nhân chính của sạt lỡ đất đá là do sự tương tác của nhiều yếu tố tự nhiên và nhân tạo, như địa chất, địa mạo, khí hậu, mưa lũ, động đất, khai thác rừng, xây dựng công trình, biến đổi khí hậu... Cụ thể, một số các báo đưa tin như sau:
                    <ul>
                        <li>Báo Vnexpress: “Sạt lở núi, hai cô giáo bị vùi lấp”, ngay ở tiêu đề bài báo đã cho biết có hai cô giáo bị vùi lấp trong một trận sạt lở. Trong bài báo “Nhà tan hoang sau trận lũ cát ở Phan Thiết” có 55 hộ dân ở xã Tiến Thành, Phan Thiết bị thiệt hại, nhà cửa hư hỏng do cát đỏ trên đồi tràn xuống.</li>
                        <li>Báo Tuổi trẻ: “Khi 13 căn nhà bị sạt lở xuống sông, xáng cạp múc cát bỏ chạy mất” điểm sạt lở ở bờ sông Cổ Chiên, đoạn qua xã Hòa Ninh, huyện Long Hồ, tỉnh Vĩnh Long làm 13 căn nhà bị sụp xuống sông, thiệt hại ước tính đến hàng chục tỉ đồng, đáng lo ngại nhất là tiếp tục xuất hiện những vết nứt nguy hiểm.</li>
                        <li>Báo Tin tức: “Vĩnh Long nỗ lực ứng phó với sạt lở” có trên 80 điểm sạt lở, tăng hơn 60 điểm so với cùng kì chỉ trong 6 tháng đầu năm 2023, ảnh hưởng đời sống, gây thiệt hại lớn về tài sản của người dân.</li>
                        <li>Báo Thanh niên: “Mưa lũ miền Trung: Sạt lở trên diện rộng, nhiều nơi ngập lụt chia cắt” do mưa lớn kèo dài, những ngày qua, nhiều địa phương trên địa bàn tỉnh Quảng Nam sạt lở nghiêm trọng. Quảng Bình, Quảng Trị, Thừa Thiên - Huế nhiều nơi bị chia cắt, cô lập, giao thông tê liệt. Hơn 50 người dân sống dưới chân núi Cà Mon, Quãng Ngãi luôn thấp thỏm, lo lắng, không ngủ được vì sợ sạt lở chạy không kịp, bài báo “Quãng Ngãi: Bất an khi sống dưới chân núi lở” cho biết.</li>
                        <li>Báo Nhân dân: “Mưa lớn làm một điểm trường ở miền núi Quảng Nam bị sạt đổ tường” cho biết mưa to kéo dài đã làm phòng học tại điểm trường Tak Cui bị hư hại do đất đá sạt lở, vùi lấp.</li>
                        <li>...</li>
                    </ul>

                </p>


            </div>
        </div>
        <div class="row">
            <div class="col-lg-12 col-md-12">

                <p>
                    <em>
                        Nhận thấy sự ảnh hưởng nặng nề về đời sống vật chất và tinh thần của người dân, cũng như những hậu quả khôn lường do sạt lở đất gây ra, một giải pháp của người dân và các nhà chức trách được kể như:
                        Chủ động theo dõi các thông tin về thời tiết để nắm bắt tình hình khu vực và sơ tán khi cần thiết. Chú ý các biến đổi bất thường như nước sông từ trong thành đục, cây nghiêng ngả trong cơn mưa lớn dài ngày, các vết nứt bất thường trên tường nhà, mặt đất phồng lên,… để thông báo cho chính quyền địa phương gần nhất.
                    </em>
                </p>
            </div>
        </div>
    </div>
</section><!-- End About Section -->
