@{
    ViewData["Title"] = "Home Page";
}

<!-- ======= Hero Section ======= -->
<section id="hero">
    <div class="hero-container">
        <div id="heroCarousel" data-bs-interval="5000" class="carousel slide carousel-fade" data-bs-ride="carousel">
            <ol class="carousel-indicators" id="hero-carousel-indicators"></ol>
            <div class="carousel-inner" role="listbox">

                <!-- Slide 1 -->
                <div class="carousel-item active" style="background-image: url('/img/slider/slide1.jpg')">
                    <div class="carousel-container">
                        <div class="carousel-content">
                            <h2 class="animate__animated animate__fadeInDown">Đe dọa nghiêm trọng từ <span>sạt lở đất đá</span></h2>
                            <a target="_blank" href="https://vietnamnet.vn/sat-lo-dat-da-o-lam-dong-vui-lap-2-vo-chong-1-nguoi-chet-2155954.html" class="btn-get-started animate__animated animate__fadeInUp">Chi tiết</a>
                        </div>
                    </div>
                </div>

                <!-- Slide 2 -->
                <div class="carousel-item" style="background-image: url('/img/slider/slide2.jpg')">
                    <div class="carousel-container">
                        <div class="carousel-content">
                            <h2 class="animate__animated fanimate__adeInDown">Đe dọa nghiêm trọng từ <span>sạt lở đất đá</span></h2>
                            <a target="_blank" href="https://vietnamnet.vn/sat-lo-dat-da-o-lam-dong-vui-lap-2-vo-chong-1-nguoi-chet-2155954.html" class="btn-get-started animate__animated animate__fadeInUp">Chi tiết</a>
                        </div>
                    </div>
                </div>

                <!-- Slide 3 -->
                <div class="carousel-item" style="background-image: url('/img/slider/slide3.jpg')">
                    <div class="carousel-container">
                        <div class="carousel-content">
                            <h2 class="animate__animated animate__fadeInDown">Đe dọa nghiêm trọng từ <span>sạt lở đất đá</span></h2>
                            <a target="_blank" href="https://vietnamnet.vn/sat-lo-dat-da-o-lam-dong-vui-lap-2-vo-chong-1-nguoi-chet-2155954.html" class="btn-get-started animate__animated animate__fadeInUp">Chi tiết</a>
                        </div>
                    </div>
                </div>
                <!-- Slide 4 -->
                <div class="carousel-item" style="background-image: url('/img/slider/slide4.jpg')">
                    <div class="carousel-container">
                        <div class="carousel-content">
                            <h2 class="animate__animated animate__fadeInDown">Đe dọa nghiêm trọng từ <span>sạt lở đất đá</span></h2>
                            <a target="_blank" href="https://vietnamnet.vn/sat-lo-dat-da-o-lam-dong-vui-lap-2-vo-chong-1-nguoi-chet-2155954.html" class="btn-get-started animate__animated animate__fadeInUp">Chi tiết</a>
                        </div>
                    </div>
                </div>
                <!-- Slide 5 -->
                <div class="carousel-item" style="background-image: url('/img/slider/slide5.jpg')">
                    <div class="carousel-container">
                        <div class="carousel-content">
                            <h2 class="animate__animated animate__fadeInDown">Đe dọa nghiêm trọng từ <span>sạt lở đất đá</span></h2>
                            <a target="_blank" href="https://vietnamnet.vn/sat-lo-dat-da-o-lam-dong-vui-lap-2-vo-chong-1-nguoi-chet-2155954.html" class="btn-get-started animate__animated animate__fadeInUp">Chi tiết</a>
                        </div>
                    </div>
                </div>
            </div>

            <a class="carousel-control-prev" href="#heroCarousel" role="button" data-bs-slide="prev">
                <span class="carousel-control-prev-icon bi bi-chevron-left" aria-hidden="true"></span>
            </a>

            <a class="carousel-control-next" href="#heroCarousel" role="button" data-bs-slide="next">
                <span class="carousel-control-next-icon bi bi-chevron-right" aria-hidden="true"></span>
            </a>

        </div>
    </div>
</section><!-- End Hero -->
<!-- ======= Featured Section ======= -->
<section id="featured" class="featured">
    <div class="container">

        <div class="row">
            <div class="col-lg-4">
                <div class="icon-box">
                    <i class="bi bi-card-checklist"></i>
                    <h3><a href="~/home/cause">Nguyên nhân xảy ra lở đất đá và cách phòng tránh</a></h3>
                    <p>
                        Sạt lở đất đá là một trong những thiên tai thường xảy ra ở các tỉnh miền núi nước ta, nó có thể quét sạch hoặc vùi lấp bất cứ thứ gì khi đổ bộ từ sườn núi.
                    </p>

                </div>
            </div>
            <div class="col-lg-4 mt-4 mt-lg-0">
                <div class="icon-box">
                    <i class="bi bi-bar-chart"></i>
                    <h3><a href="~/home/cause">Sạt lở đất, đá được hình thành như thế nào?</a></h3>
                    <p>
                        Nguyên nhân dẫn đến những vụ sạt lở do nhiều yếu tố, đặc biệt là thời tiết như mưa lớn kéo dài, tuyết tan, xói mòn dòng chảy, thay đổi mạch nước ngầm, động đất, hoạt động của núi lửa khiến đất bị phong hóa (quá trình hủy đất đá và các khoáng vật trong đó).
                    </p>
                </div>
            </div>
            <div class="col-lg-4 mt-4 mt-lg-0">
                <div class="icon-box">
                    <i class="bi bi-binoculars"></i>
                    <h3><a href="~/home/cause">Cách phòng tránh một trận lở đất đá</a></h3>
                    <p>
                        Đối với những gia đình sống trên hay dưới những sườn núi, triền đồi cao, cần theo dõi tin tức và dự báo thời tiết thường xuyên, nếu có cảnh báo mưa kéo dài hay bão cần phải xem mình có sống trong khu vực dễ sạt lở hay không.

                    </p>
                </div>
            </div>
        </div>

    </div>
</section><!-- End Featured Section -->
<!-- ======= About Section ======= -->
<section id="about" class="about">
    <div class="container">

        <div class="row">
            <div class="col-lg-6">
                <img src="~/img/landslide.png" class="img-fluid" alt="">
            </div>
            <div class="col-lg-6 pt-4 pt-lg-0 content">
                <h3>Nguyên nhân xảy ra lở đất đá và cách phòng tránh</h3>
                <p class="fst-italic">
                    Sạt lở đất đá là một trong những thiên tai thường xảy ra ở các tỉnh miền núi nước ta, nó có thể quét sạch hoặc vùi lấp bất cứ thứ gì khi đổ bộ từ sườn núi..
                </p>
                <p>
                    Như Dân trí đã đưa tin, sáng 8/10, một vụ sạt lở đá vừa xảy ra tại huyện miền núi Minh Hóa, Quảng Bình khiến giao thông tê liệt, đồn biên phòng và gần 200 hộ dân nơi đây bị cô lập.
                    <br />
                    Đây là một hiện tượng gây nguy hiểm, người dân cần trang bị cho mình một vài dấu hiệu nhận biết nhằm hạn chế những rủi ro, thiệt hại về người và tài sản.
                </p>
                <h3>Sạt lở đất, đá được hình thành như thế nào?</h3>
                <p>
                    <ul>
                        <li>
                            Sạt lở đất là sự dịch chuyển của một khối hay những tảng đá nhiều kích cỡ kèm theo lượng đất lớn trượt xuống con dốc từ triền núi hay trên đồi cao.
                        </li>
                        <li>
                            Nguyên nhân dẫn đến những vụ sạt lở do nhiều yếu tố, đặc biệt là thời tiết như mưa lớn kéo dài, tuyết tan, xói mòn dòng chảy, thay đổi mạch nước ngầm, động đất, hoạt động của núi lửa khiến đất bị phong hóa (quá trình hủy đất đá và các khoáng vật trong đó).
                        </li>
                        <li>
                            Bên cạnh đó, tác động của con người như chặt phá rừng lấy gỗ, làm nương rẫy cũng góp phần làm giảm sức bền đất đá nằm trên mái dốc.
                        </li>
                        <li>
                            Tác động của trọng lực sẽ kéo theo những khối đất đá sạt lở, đổ bộ theo sườn dốc.
                        </li>
                        <li>
                            Sự dịch chuyển của những tảng đá khi sạt lở có thể rất nhanh và đột ngột, đặc biệt trong điều kiện xảy ra những trận mưa bão dữ dội, hoặc có thể chậm đến mức chúng ta không thể nào phát hiện ngay (ngoại trừ một vài dấu hiệu như vết nứt trên mặt đất, sụt lún trên những con đường bị ảnh hưởng).
                        </li>
                    </ul>
                </p>
                <h3>
                    Cách phòng tránh một trận lở đất đá

                </h3>
                <p>
                    <ul>
                        <li>
                            Đối với những gia đình sống trên hay dưới những sườn núi, triền đồi cao, cần theo dõi tin tức và dự báo thời tiết thường xuyên, nếu có cảnh báo mưa kéo dài hay bão cần phải xem mình có sống trong khu vực dễ sạt lở hay không.
                        </li>
                        <li>
                            Tránh các hoạt động có thể làm tăng sự mất ổn định của mặt đất. Ví như, tránh đào sâu một ngọn đồi dốc, xây dựng nhà ở trên cùng hoặc dưới cùng của dốc đứng, chặt phá, khai rác rừng bừa bãi...
                        </li>
                        <li>
                            Người dân có thể học cách nhận biết các dấu hiệu của một vụ sạt lở đất như sự xuất hiện của các vết nứt, chỗ phồng trên dốc, dòng nước chảy xuống dốc bất thường, dòng chảy thay đổi đột ngột và đá nhỏ vỡ vụn rơi xuống.
                        </li>
                        <li>
                            Theo dõi lưu lượng thoát nước mưa trên các sườn dốc gần nhà bạn ở, đặc biệt là nơi nước tụ lại.
                        </li>
                        <li>
                            Khi lái xe bên cạnh các sườn dốc trong thời tiết xấu, hãy để ý các vết lở đất, đặc biệt là ở chân dốc. Nếu có dấu hiệu đường bị sụp xuống và xuất đá vụn rơi từ trên dốc là dấu hiệu của trận lở đất sắp xảy ra.
                        </li>
                        <li>
                            Đáng chú ý, xói mòn trong lở đất, đá có thể dẫn đến lũ quét, chính vì thế khi gặp hiện tượng này mà mưa lớn vẫn kéo dài, người dân cần phải có những phương án đề phòng khác, theo dõi tin tức từ chính quyền địa phương, dự báo thời tiết để có thể có kịp thời sơ tán hay bảo quản những món đồ có giá trị trong nhà nếu lũ quét xảy ra.
                        </li>
                    </ul>
                </p>
            </div>
        </div>

    </div>
</section><!-- End About Section -->